In [70]:
import pandas as pd

In [71]:
df = pd.read_excel('BookingProjectClean.xlsx')
df

,Name,Place,Type,Price,ReviewsCount,Rating,Type_Room
0,'t Goude Hooft,"The Hague City Centre, The Hague",Deluxe Suite,195.36,375,9.0,Premium Suite
1,3BE Backpackers Bed & Breakfast Eindhoven,"Eindhoven City Centre, Eindhoven",Single Bed in 14-Bed Dormitory Room,60.35,805,8.0,Dorm
2,Amadeus Hotel,Haarlem,Budget Double Room,65.15,1281,7.7,Standard Double
3,Ambassador City Centre Hotel,Haarlem,Comfort Room,90.05,807,7.7,Other
4,Amrâth Grand Hotel Frans Hals,Haarlem,Deluxe Twin Room,118.82,1730,8.0,Premium Twin
...,...,...,...,...,...,...,...
469,limehome Den Haag Keizerstraat,Scheveningen,Suite,125.73,500,8.4,Suite
470,nhow Amsterdam Rai,"Zuideramstel, Amsterdam",nhow Double or Twin Room with View,128.54,500,9.0,Twin
471,ss Rotterdam Hotel en Restaurants,"Feijenoord, Rotterdam",Twin Standard,65.39,500,8.3,Standard Twin
472,the niu Dairy,Haarlem,Standard Double or Twin Room,84.54,500,8.5,Standard Twin
473,"voco The Hague, an IHG Hotel","The Hague City Centre, The Hague",Queen Room with Atrium View,117.28,500,8.7,Double

In [72]:
df.describe()

           Price  ReviewsCount      Rating
count  474.00000    474.000000  474.000000
mean   124.76557    795.369198    8.328903
std     62.32018    888.291733    0.665733
min     39.88000     13.000000    5.500000
25%     85.76750    362.750000    8.000000
50%    110.05500    500.000000    8.400000
75%    138.91750    932.000000    8.800000
max    534.39000   7748.000000    9.800000

In [73]:
# df['Rating_Category'] = pd.qcut(df['Rating'], q=5, labels=['Very Low', 'Low', 'Medium', 'High', 'Very High']) 
# df['Price_Category'] = pd.qcut(df['Price'], q=3, labels=['Cheap', 'Moderate', 'Expensive'])

In [74]:
rating_bins = [0.0, 7.0, 8.0, 10.0]
rating_labels = ['Low Rating', 'Medium Rating', 'High Rating']

df['Rating_Category'] = pd.cut(df['Rating'], bins=rating_bins, labels=rating_labels)

In [75]:
df['Rating_Category'].value_counts()

High Rating      334
Medium Rating    118
Low Rating        22
Name: Rating_Category, dtype: int64

In [76]:
df['Price_Category'] = pd.qcut(df['Price'], q=3, labels=['Cheap', 'Moderate', 'Expensive'])

In [77]:
df['Price_Category'].value_counts()

Cheap        159
Expensive    158
Moderate     157
Name: Price_Category, dtype: int64

In [78]:
df['Price_Rating_Category'] = df['Rating_Category'].astype(str) + '-' + df['Price_Category'].astype(str)

In [79]:
df['Price_Rating_Category'].value_counts()

High Rating-Expensive      118
High Rating-Moderate       117
High Rating-Cheap           99
Medium Rating-Cheap         47
Medium Rating-Expensive     37
Medium Rating-Moderate      34
Low Rating-Cheap            13
Low Rating-Moderate          6
Low Rating-Expensive         3
Name: Price_Rating_Category, dtype: int64

In [88]:
df.groupby('Price_Rating_Category')['Price'].median()

Price_Rating_Category
High Rating-Cheap           81.440
High Rating-Expensive      159.200
High Rating-Moderate       110.220
Low Rating-Cheap            68.580
Low Rating-Expensive       150.220
Low Rating-Moderate        107.285
Medium Rating-Cheap         77.220
Medium Rating-Expensive    159.890
Medium Rating-Moderate     109.605
Name: Price, dtype: float64

In [83]:
df.groupby('Price_Rating_Category')['Rating'].median()

Price_Rating_Category
High Rating-Cheap          8.40
High Rating-Expensive      8.80
High Rating-Moderate       8.70
Low Rating-Cheap           6.60
Low Rating-Expensive       6.70
Low Rating-Moderate        6.85
Medium Rating-Cheap        7.70
Medium Rating-Expensive    7.80
Medium Rating-Moderate     7.75
Name: Rating, dtype: float64

In [23]:
df = df[df['ReviewsCount'] > 10]
df.shape

(474, 9)